.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/
experiment-*
*.tmp
*.pkl
*.ckpt
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
logs/
outputs/
jobs
subs
tmp
*.sub
__pycache__
.vscode/
.idea/
whats.*
*.train
*.art
results/
*.txt/
*.ckpt
arts.5/
